*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  color: #000;
  line-height: 1;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

:focus {
  outline: none;
}

.container {
  width: 100%;
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Icons */
.icon {
  display: inline-block;
  background-image: url("../images/sprite.png");
}

.icon-logo {
  width: 97px;
  height: 24px;
  background-position-y: -40px;
}

.icon-arrow-down {
  width: 15px;
  height: 7px;
  background-position-x: -131px;
}

.icon-search {
  width: 14px;
  height: 14px;
  background-position: -132px -9px;
}

.icon-close {
  width: 14px;
  height: 14px;
  background-position-x: -273px;
}

.icon-notes {
  width: 32px;
  height: 40px;
  background-position-x: -231px;
}

.icon-files {
  width: 32px;
  height: 40px;
  background-position-x: -155px;
}

.icon-level {
  width: 40px;
  height: 40px;
  background-position-x: -189px;
}

.icon-facebook {
  width: 32px;
  height: 32px;
  background-position-x: -32px;
}

.icon-twitter {
  width: 32px;
  height: 32px;
  background-position-x: -96px;
}

.icon-youtube {
  width: 32px;
  height: 32px;
}

.icon-google-plus {
  width: 32px;
  height: 32px;
  background-position-x: -64px;
}

/* Header */
.header {
  height: 50px;
  background-color: #434753;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header__logo {
  position: relative;
  top: -1px;
  margin-right: auto;
}

.header__button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border: 0;
  background: transparent;
  color: #fff;
  font-size: 14px;
  font-weight: 900;
  cursor: pointer;
}

.header__button .icon {
  margin-left: 8px;
}

.header__search {
  margin-left: 26px;
}

.header__search-form,
.header__search-label {
  height: 100%;
}

.header__search-label {
  display: flex;
}

.header__search-input {
  width: 308px;
  padding: 9px 12px;
  border: 0;
  background-color: #fff;
  border-radius: 2px 0 0 2px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #434753;
}

.header__search-input:placeholder-shown {
  color: #434753;
}

.header__search-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  height: 32px;
  width: 40px;
  border-radius: 0 2px 2px 0;
  background-color: #139fdd;
  cursor: pointer;
}

.header__user {
  margin-left: auto;
}

.header__button-mobile-navigation {
  display: none;
  padding: 0;
  border: 0;
  margin-right: 10px;
  cursor: pointer;
  background: transparent;
}

.header__button-mobile-navigation span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
}

.header__button-mobile-navigation span + span {
  margin-top: 3px;
}

.header__button-mobile-search {
  display: none;
  width: 35px;
  height: 30px;
  line-height: 32px;
  background: #139fdd;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  overflow: hidden;
}

.header__button-mobile-search .icon:last-child {
  display: none;
}

.header__button-mobile-search.is-active .icon:first-child {
  display: none;
}

.header__button-mobile-search.is-active .icon:last-child {
  display: inline-block;
}

@media (max-width: 768px) {
  .header__user,
  .header__button-navigation,
  .header__button-login,
  .header__search {
    display: none;
  }

  .header__button-mobile-navigation,
  .header__button-mobile-search {
    display: inline-block;
  }

  .header__search.is-active {
    display: block;
    position: absolute;
    z-index: 3;
    left: 0;
    top: 50px;
    width: 100%;
    margin-left: 0;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
  }

  .header__search-input {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
  }

  .header__search-button {
    width: 55px;
    height: 47px;
    background: #139fdd url("../images/icons/icon-search-white.png") no-repeat center center;
  }
}

/* Hero */
.hero {
  position: relative;
  background: url("../images/background-hero.jpg") no-repeat center top;
}

@media (max-width: 768px) {
  .hero {
    background-position: right;
  }
}

.hero__picture {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 0;
  width: 100%;
  max-width: 1200px;
  transform: translateX(-50%);
}

.hero__image {
  width: 100%;
  object-fit: cover;
}

.hero .container {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 380px;
}

.hero__content {
  display: block;
  max-width: 370px;
  padding: 30px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, .5);
}

.hero__title {
  margin: 0 0 30px 0;
  font-size: 22px;
  font-weight: 900;
  color: #000;
}

.hero__description {
  margin: 0 0 30px 0;
  font-size: 16px;
  line-height: 22px;
  color: #000;
}

.hero__button {
  display: inline-block;
  padding: 15px 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 900; 
  text-decoration: none;
  border-radius: 25px;
  background-color: #139fdd;
  border: 1px solid transparent;
}

.hero__button:hover {
  color: #139fdd;
  background-color: #fff;
  border-color: #139fdd;
  transition: all 250ms;
}

/* Properties */
.properties__wrapper {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: -15px;
  margin-right: -15px;
}

.properties__item {
  width: calc(100% / 3);
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

.properties__title {
  color: #434753;
  font-size: 14px;
  font-weight: 900;
}

.properties__description {
  font-size: 14px;
  line-height: 22px;
  color: #434753;
}

@media (max-width: 768px) {
  .properties__wrapper {
    flex-direction: column;
  }

  .properties__item {
    width: 100%;
  }

  .properties__item + .properties__item {
    margin-top: 25px;
  }
}

/* Lessons */
.lessons {
  background-color: #f4f4f4;
}

.lessons .container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.lessons__section-title {
  margin: 0 0 30px 0;
  padding: 0;
  color: #434753;
  font-size: 18px;
  font-weight: 700;
}

.lessons__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.lessons__item {
  width: 25%;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 30px;
}

@media (max-width: 927px) {
  .lessons__item {
    width: calc(100% / 3);
  }
}

@media (max-width: 697px) {
  .lessons__item {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .lessons__item {
    width: 100%;
  }

  .lessons__item:last-child {
    margin-bottom: 0;
  }
}

.lesssons__link-image,
.lessons__link-title,
.lessons__link-author {
  display: block;
  position: relative;
  text-decoration: none;
}

.lesssons__link-image,
.lessons__link-title {
  margin-bottom: 15px;
}

.lessons__image {
  width: 100%;
  height: auto;
}

.lessons__link-title {
  color: #434753;
  font-size: 17px;
  font-weight: 700;
}

.lessons__author-image {
  vertical-align: middle;
  border-radius: 100%;
  margin-right: 5px;
}

.lessons__author-name {
  color: #444;
  font-size: 14px;
  font-weight: 300;
}

/* Statistics */
.statistics .container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  .statistics .container {
    flex-wrap: wrap;
    padding-bottom: 30px;
  }
}

.statistics__item {
  text-align: center;
}

@media (max-width: 768px) {
  .statistics__item {
    width: 50%;
    margin-bottom: 20px;
  }
}

.statistics__title {
  margin: 0 0 12px 0;
  padding: 0;
  color: #434753;
  font-weight: 300;
  font-size: 36px;
}

.statistics__text {
  margin: 0;
  padding: 0;
  color: #434753;
  font-size: 14px;
  font-weight: 900;
}

.register-banner {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #139fdd;
}

.register-banner .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .register-banner .container {
    flex-direction: column;
  }
}

.register-banner__title {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}

@media (max-width: 768px) {
  .register-banner__title {
    margin-bottom: 15px;
    text-align: center;
    line-height: 32px;
  }
}

.register-banner__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
  width: 138px;
  height: 40px;
  color: #139fdd;
  font-size: 14px;
  font-weight: 900;
  border-radius: 20px;
  text-decoration: none;
  background-color: #fff;
}

@media (max-width: 768px) {
  .register-banner__button {
    margin-left: 0;
  }
}

/* Sub Page */
.sub-page {
  padding-top: 50px;
  padding-bottom: 50px;
}

.sub-page__title {
  padding: 0;
  margin: 0 0 30px 0;
  color: #434753;
  font-size: 35px;
  font-weight: 300;
}

.sub-page__content p {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  color: #434753;
}

/* Trainers */
.trainers {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

@media (max-width: 778px) {
  .trainers {
    margin-bottom: -20px;
  }
}

.trainers__item {
  width: 25%;
  padding-left: 5px;
  padding-right: 5px;
}

@media (max-width: 778px) {
  .trainers__item {
    width: 50%;
    margin-bottom: 20px;
  }
}

.trainers__picture {
  position: relative;
  display: block;
  margin-bottom: 22px;
}

.trainers__photo {
  width: 100%;
  height: auto;
}

.trainers__name {
  margin: 0 0 0 0;
  height: 50px;
  color: #434753;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.trainers__social {
  display: flex;
}

.trainers__social-link {
  display: inline-block;
  text-decoration: none;
}

.trainers__social-link + .trainers__social-link {
  margin-left: 5px;
}

/* Contact Form */
.contact-form {
  position: relative;
}

.contact-form__row {
  display: flex;
  margin: 0 -10px 30px -10px;
}

@media (max-width: 768px) {
  .contact-form__row {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.contact-form__group {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 768px) {
  .contact-form__group {
    margin-bottom: 20px;
  }
}

.contact-form__label {
  display: block;
  margin-bottom: 12px;
  color: #666;
  font-size: 14px;
  font-weight: 900;
}

.contact-form__input,
.contact-form__textarea {
  width: 100%;
  font-family: "Arial", sans-serif;
  font-size: 13px;
  border-radius: 20px;
  border: 2px solid #cfcfcf;
  -webkit-appearance: none;
}

.contact-form__input {
  padding: 8px 16px;
}

.contact-form__input:focus,
.contact-form__textarea:focus {
  border-color: #44a9df;
}

.contact-form__textarea {
  padding: 15px;
  min-height: 200px;
  margin-bottom: 30px;
  resize: none;
}

.contact-form__buttons {
  display: flex;
}

.contact-form__button {
  width: 100%;
  height: 40px;
  color: #fff;
  font-weight: 900;
  font-size: 14px;
  border: 0;
  text-align: center ;
  cursor: pointer;
}

.contact-form__button--reset {
  background-color: #434753;
  border-radius: 20px 0 0 20px;
}

.contact-form__button--submit {
  background-color: #44a9df;
  border-radius: 0 20px 20px 0;
}

/* Footer */
.footer {
  background-color: #f4f4f4;
}

.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  .footer .container {
    flex-direction: column;
  }
}

.footer__links {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.footer__link {
  text-decoration: none;
}

.footer__link,
.footer__separator,
.footer__copyright-text {
  color: #434753;
  font-size: 12px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .footer__copyright-text {
    display: block;
    margin-top: 10px;
    text-align: center;
  }
}

.footer__separator {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}

.footer__social {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .footer__social {
    margin-top: 30px;
  }
}

.footer__social-link {
  text-decoration: none;
}

.footer__social-link + .footer__social-link {
  margin-left: 10px;
}
