*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  color: #000;
  line-height: 1;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

:focus {
  outline: none;
}

.container {
  width: 100%;
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Header */
.header {
  height: 50px;
  margin-bottom: 40px;
  background-color: #434753;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header__logo {
  position: relative;
  top: -1px;
  margin-right: auto;
}

.header__button {
  display: inline-block;
  padding-right: 25px;
  border: 0;
  background: transparent url("/assets/images/icons/icon-arrow-down.png") no-repeat right center;
  color: #fff;
  font-size: 14px;
  font-weight: 900;
  cursor: pointer;
}

.header__search {
  margin-left: 26px;
}

.header__search-form,
.header__search-label {
  height: 100%;
}

.header__search-label {
  display: flex;
}

.header__search-input {
  width: 308px;
  padding: 9px 12px;
  border: 0;
  background-color: #fff;
  border-radius: 2px 0 0 2px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #434753;
}

.header__search-input:placeholder-shown {
  color: #434753;
}

.header__search-button {
  border: 0;
  height: 32px;
  width: 30px;
  text-indent: -9999px;
  border-radius: 0 2px 2px 0;
  background: #eaeaea url("/assets/images/icons/icon-search.png") no-repeat center center;
  cursor: pointer;
}

.header__user {
  margin-left: auto;
}

.header__button-mobile-navigation {
  display: none;
  padding: 0;
  border: 0;
  margin-right: 10px;
  cursor: pointer;
  background: transparent;
}

.header__button-mobile-navigation span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
}

.header__button-mobile-navigation span + span {
  margin-top: 3px;
}

.header__button-mobile-search {
  display: none;
  width: 35px;
  height: 30px;
  background: #fff url("/assets/images/icons/icon-search.png") no-repeat center center;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
}

.header__button-mobile-search.is-active {
  background-image: url("/assets/images/icons/icon-close.png");
  background-size: 22px;
}

@media (max-width: 768px) {
  .header {
    margin-bottom: 0;
  }

  .header__user,
  .header__button-navigation,
  .header__button-login,
  .header__search {
    display: none;
  }

  .header__button-mobile-navigation,
  .header__button-mobile-search {
    display: inline-block;
  }

  .header__search.is-active {
    display: block;
    position: absolute;
    z-index: 3;
    left: 0;
    top: 50px;
    width: 100%;
    margin-left: 0;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
  }

  .header__search-input {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
  }

  .header__search-button {
    width: 47px;
    height: 47px;
  }
}

/* Hero */
.hero {
  position: relative;
}

.hero__picture {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 0;
  width: 100%;
  max-width: 1200px;
  transform: translateX(-50%);
}

.hero__image {
  width: 100%;
  object-fit: cover;
}

.hero .container {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 380px;
}

.hero__content {
  display: block;
  max-width: 370px;
  padding: 30px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, .5);
}

.hero__title {
  margin: 0 0 30px 0;
  font-size: 22px;
  font-weight: 900;
  color: #000;
}

.hero__description {
  margin: 0 0 30px 0;
  font-size: 16px;
  line-height: 22px;
  color: #000;
}

.hero__button {
  display: inline-block;
  padding: 15px 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 900; 
  text-decoration: none;
  border-radius: 25px;
  background-color: #139fdd;
}

/* Properties */
.properties__wrapper {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: -15px;
  margin-right: -15px;
}

.properties__item {
  width: calc(100% / 3);
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

.properties__title {
  color: #434753;
  font-size: 14px;
  font-weight: 900;
}

.properties__description {
  font-size: 14px;
  line-height: 22px;
  color: #434753;
}

@media (max-width: 768px) {
  .properties__wrapper {
    flex-direction: column;
  }

  .properties__item {
    width: 100%;
  }

  .properties__item + .properties__item {
    margin-top: 25px;
  }
}

/* Lessons */
.lessons {
  background-color: #f4f4f4;
}

.lessons .container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.lessons__section-title {
  margin: 0 0 30px 0;
  padding: 0;
  color: #434753;
  font-size: 18px;
  font-weight: 700;
}

.lessons__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.lessons__item {
  width: 25%;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 30px;
}

@media (max-width: 927px) {
  .lessons__item {
    width: calc(100% / 3);
  }
}

@media (max-width: 697px) {
  .lessons__item {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .lessons__item {
    width: 100%;
  }

  .lessons__item:last-child {
    margin-bottom: 0;
  }
}

.lesssons__link-image,
.lessons__link-title,
.lessons__link-author {
  display: block;
  position: relative;
  text-decoration: none;
}

.lesssons__link-image,
.lessons__link-title {
  margin-bottom: 15px;
}

.lessons__image {
  width: 100%;
  height: auto;
}

.lessons__link-title {
  color: #434753;
  font-size: 17px;
  font-weight: 700;
}

.lessons__author-image {
  vertical-align: middle;
  border-radius: 100%;
  margin-right: 5px;
}

.lessons__author-name {
  color: #444;
  font-size: 14px;
  font-weight: 300;
}

/* Statistics */
.statistics .container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

.statistics__item {
  text-align: center;
}

.statistics__title {
  margin: 0 0 12px 0;
  padding: 0;
  color: #434753;
  font-weight: 300;
  font-size: 36px;
}

.statistics__text {
  margin: 0;
  padding: 0;
  color: #434753;
  font-size: 14px;
  font-weight: 900;
}
